<div class="div3 height1">
    <div class="div4">
        <form action="add/book" method="post">
            <label for="name">输入书名</label>
            <input id="name" class="form-control" type="text" name="bookName"><br/>

            <label for="author">输入作者</label>
            <input id="author" class="form-control" type="text" name="author"><br/>

            <label for="price" >输入价格</label>
            <input id="price" class="form-control" type="text"  name="price"><br/>


            <input type="submit" class="btn  btn-lg btn-block btn-primary bn1" value="确定增加">
        </form>

    </div>
</div>

