<div class="div3 height2">
    <div class="div4">
        <form action="/library/public/toLogin" method="post">

            <label for="name">输入姓名</label>
            <input id="name" type="text" class="form-control" name="userName"><br/>

            <label for="acc">输入账号</label>
            <input id="acc" type="text" class="form-control" name="account"><br/>

            <label for="pass">输入密码</label>
            <input id="pass" type="text" class="form-control" name="password"><br/>

            <label for="role_id">输入角色ID</label>
            <input id="role_id" type="text" class="form-control" name="roleId"><br/>

            <label for="role_name">输入角色名</label>
            <input id="role_name" type="text" class="form-control" name="roleName"><br/>

            <input  type="submit" class="btn  btn-lg btn-block btn-primary bn1" value="确认添加" >
        </form>
    </div>
</div>

