<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mycss.css}"/>
    <title>用户注册</title>
</head>
<body class="b1">
    <div class="div1" style="height: 400px;">
        <div class="div2">
            <h3 class="text-center" >请先注册</h3>
            <form action="/library/public/toLogin" method="post">

                <label for="name">输入姓名</label>
                <input id="name" type="text" class="form-control" name="userName"><br/>

                <label for="acc">输入账号</label>
                <input id="acc" type="text" class="form-control" name="account"><br/>

                <label for="pass">输入密码</label>
                <input id="pass" type="text" class="form-control" name="password"><br/>

                <input  type="submit" class="btn btn-primary btn-lg btn-block bn1" value="注册" >
            </form>
            <br/>
            <a th:href="@{/start}" class="a1">返回</a>

        </div>

    </div>




</body>
</html>