<div class="div3 height1" >
    <div class="div4">
        <form action="/library/updateUser" method="post">

            <label for="name">输入姓名</label>
            <input id="name" type="text" class="form-control" name="userName"><br/>

            <label for="acc">输入账号</label>
            <input id="acc" type="text" class="form-control" name="account"><br/>

            <label for="pass">输入密码</label>
            <input id="pass" type="text" class="form-control" name="password"><br/>

            <input  type="submit" class="btn btn-primary btn-lg btn-block bn1" value="修改" >
        </form>
    </div>
</div>
